body{
    font-family:'Lato',sans-serif;
    font-family:'Open Sans',sans-serif;
}

main section{
    margin-top:80px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.primary-color{
    color:#fd6e0a;
}
.btn-primary{
    border-radius: 5px;
    background:#fd6e0a;
    border:0px;
    color:white;
    font-size:20px;
    font-weight:700px;
    padding:15px 35px;
}
.nav-title{
    color:#181818;
    font-size:45px;
    font-weight:800px;
}
.nav-title span{
    color:#fd6e0a;
}
nav ul{
    display:flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right:50px;
    
}
nav a{
    text-decoration: none;
}
.header {
    background-color:#fff8f3;
    background-image:url('img/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding:30px 30px 0px 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.banner .hardy{
    width:500px;
    height:650px;
}

.banner-greeting{
    font-size: 45px;
    color:#474747;
    margin-bottom: 0;
}
.banner-title{
    font-size:85px;
    font-weight:700px;
    margin-top: 5px;
}
.banner-content p{
    width:500px;
}
.about{
    
    width:70%;
    padding:130px;
    background-color:#fff8f3 ;
    border-radius: 10px;
    margin-top:130px;
    margin:0 auto;
}
.section-title{
    color:#181818;
    text-align:center;
    font-size:35px;
    font-weight:700px;
}

.about p{
    color:#757575;
    text-align:center;
    font-size: 18px;
    
}
.about-info-conteiner{
    
    display:flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.section-decription{
    text-align: center;
    margin:0 auto;
    padding:0px 310px 30px 310px;
}
.skills-container{
    display:flex;
    gap:30px;
    justify-content: space-around;
}
.skill{
    padding:30px;
    border:1px solid rgb(234, 234, 234);
    border-radius: 5px;
    background: white;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.skill-description{
    padding: 15px;
}



.resume-column-title{
   color:#474747;
   font-size: 30px;
   font-weight: 700px; 
}
.resume-container{
    display: flex;
    justify-content:center;
    gap:40px;
}


.resume-column{
    width:35%;
}