body{
    font-family:'Lato',sans-serif;
    font-family:'Open Sans',sans-serif;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.primary-color{
    color:#fd6e0a;
}
.btn-primary{
    border-radius: 5px;
    background:#fd6e0a;
    border:0px;
    color:white;
    font-size:20px;
    font-weight:700px;
    padding:15px 35px;
}
.nav-title{
    color:#181818;
    font-size:45px;
    font-weight:800px;
}
.nav-title span{
    color:#fd6e0a;
}
nav ul{
    display:flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right:50px;
    
}
nav a{
    text-decoration: none;
}